footer.footer
    .footer__wrap
        .clearfix
            .footer__left
                a.pageheader__logo
                    .pageheader__logo__main fedojo
                    .pageheader__logo__slogan {a front-end development blog by Piotr Sikora}

            .footer__right
        .clearfix
            .footer__left
                p © 2016 Copyright fedojo.com. All rights reserved

            .footer__right
                p Website designed by <a href="" class="simple_link">Arkadiusz Radek</a>
