header.pageheader
    .pageheader__keeper
        a.pageheader__logo(href='/')
            span.pageheader__logo__main fedojo
            span.pageheader__logo__slogan {a front-end development blog by Piotr Sikora}

        .pageheader__menu__invoker#pageheader__menu__invoker
        .pageheader__menu#pageheader__menu

    .preloader__keeper#preloader__keeper
        .preloader__progress#preloader__progress
