footer.footer
  .footer__wrap
    .clearfix
      a.pageheader__logo(href='http://fedojo.com')
        span.pageheader__logo__main fedojo
        span.pageheader__logo__slogan {a front-end development blog by Piotr Sikora}
    .clearfix
      .footer__left
        p © 2018 Copyright fedojo.com. All rights reserved

    