.home_sidebar
    .home_book
        h3.home_book__header Professional CSS3
        span.home_book__author by Piotr Sikora
        //-  <img src="/images/bookbox__book.png" alt="">
        p.home_book__paragraph Do you want to get more knowledge about CSS? Check this book! It will help you to understand CSS and how to practically use it! </p>
        a.buy_button(href="https://www.packtpub.com/web-development/professional-css3", target="_blank") Get the book
