doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="keywords", content= seo_keywords)
    meta(name="description", content= seo_description)
    title= seo_title
    include common/style.pug

  body!= composition_html
    
    //- h1= seo_title